Options -Indexes
DirectoryIndex index.html index.php

<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^contacto\.php$ - [L]
  RewriteRule ^thank-you-page/ - [L]
  RewriteRule ^videos/ - [L]
  RewriteRule ^assets/ - [L]
  RewriteRule ^brand/ - [L]

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>

ErrorDocument 404 /404.html
